


<div class="container" id="maincontainer">
  <div class="row">
      <div class="col s12">
        <div class="card grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title" style="font-weight:400">Hello,</span>
            <p id="text">Thank you for shopping</p>
            <p id="text">We are happy to inform you that your order has been sucessfully processed</p>
            <p id="text">Your order Number: <a href="javascript:void(0)" (click)="getStatus()">{{ordernum}}</a></p>
          </div>
          <div class="card-action">
            <a href="javascript:void(0)">Contact Us</a>
            
          </div>
        </div>
      </div>
    </div>
</div>


