
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card maincard">
                <div class="card-content black-text center-align">
                        <h1>Home</h1>
                        <h4>Welcome to my Shop</h4>
                        <a [routerLink]="['/product']" class="btn-large waves-effect waves-light center">Get Started</a>
                      </div>

            </div>
        </div>
    </div>
    <div class="divider"></div>

    <h3 class="center-align">Popular Items</h3>
    <div class="row">        
        <div *ngFor="let product of products" class="col s6 l3">
            <div class="card">
                <div class="card-image">
                    <a [routerLink]="['/product',product._id]"><img src="{{product.images}}" class="responsive"></a>
                    
                    
                </div>
            <div class="card-content center-align">
                    <a [routerLink]="['/product',product._id]" class="black-text">{{product.name|uppercase}}</a>
            </div>
            </div>
        </div>
    </div>
</div>


