
<div class="container">
    <div class="row">
        <div class="center">
        <h1 class="blue-text">Home</h1>
        <h4 class="light center">Welcome to my shop</h4>
        <a [routerLink]="['/product']" class="btn-large waves-effect waves-light center">Get Started</a>
        </div>
        <!-- <div class="col s12">
                <app-search [trigger]="true"></app-search>
        </div> -->
    </div>

    <div class="row">
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&h=350">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>     
            </div>
        </div>
        <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&h=350">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>     
                </div>
            </div>
            <div class="col s12 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&h=350">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>     
                    </div>
                </div>
    </div>
</div>