<footer class="page-footer grey darken-3"  id="footer"> 
    <div class="container">
      <div class="row">
        
        <div class="col l3 m3 offset-l2 offset-m2 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 m3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 m3  s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="javascript:void(0)">Twitter <i class="fab fa-twitter"></i></a></li>
            <li><a class="white-text" href="javascript:void(0)">FaceBook <i class="fab fa-facebook"></i></a></li>
            <li><a class="white-text" href="javascript:void(0)">Linkedin <i class="fab fa-linkedin"></i></a></li>
            <li><a class="white-text" href="javascript:void(0)">Info <i class="fas fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center grey darken-2">
      <div class="container">
          Shopv2 ©Copyright 2018
      </div>
    </div>
  </footer>