
<div class="container">
  <h1>Shopping Cart</h1>
  <div class="row">
    <div class="col s12 m7 l8  z-depth-1 listwrapper">
      <app-cart-list *ngFor="let item of cart?.shoppingCart" [cartItem] = item></app-cart-list>
      <h1 *ngIf="cart.shoppingCart.length===0">Your cart is currently empty. </h1>
    </div>
    <div class="col s12 m4 l3 z-depth-1">
      <div class="orderSummary">
        <span>Order Summary:</span>
        <p>Total Item: {{totalItem}}</p>
        <p>Subtotal: <span class="price">${{totalPrice}}</span></p>
        <button [disabled]="isEmptyCart()" class="waves-effect waves-light btn"(click)="checkout()">Checkout</button>
      </div>  
    </div>
  </div>  
</div>

